<div class="row">
  <div class="col-md-6 col-xs-6">
    <ul class="list-group">
      <li ng-repeat="player in players track by player.id">
        <div class="list-group">
          <a href="#" class="list-group-item active">
            <div class="player">

              <img class="img-circle" src="http://fillmurray.com/75/75">

              <div class="name">
                <b>{{player.name}}</b>
              </div>
              <div class="details">
                <p>
                  <span>{{player.position}}</span>
                  <span>{{player.team}}</span>
                </p>
                <p>
                  <span>Bye: {{player.byeWeek}}</span>
                  <span>Rank: {{player.nflDraftRank}}</span>
                </p>
              </div>
            </div>

          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-6 col-xs-6">
    <ul class="list-group">
      <li ng-repeat="player in players track by player.id">
        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">{{player.name}}</h4>
            <div class="row">
              <span class="list-group-item-text">{{player.position}}</span>
              <span class="list-group-item-text pull-right">Bye: {{player.byeWeek}}</span>

            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>